@import "tailwindcss";

@theme {
  --color-charcoal-50: #f6f6f7;
  --color-charcoal-100: #e3e3e6;
  --color-charcoal-200: #c6c6cc;
  --color-charcoal-300: #9f9fa9;
  --color-charcoal-400: #757582;
  --color-charcoal-500: #565662;
  --color-charcoal-600: #41414a;
  --color-charcoal-700: #35353c;
  --color-charcoal-800: #2b2b30;
  --color-charcoal-900: #232327;
  --color-charcoal-950: #141416;
}

:root {
  --foreground-rgb: 227, 227, 230; /* Charcoal-100 */
  --background-start-rgb: 20, 20, 22; /* Charcoal-950 */
  --background-end-rgb: 35, 35, 39;   /* Charcoal-900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #141416; /* Charcoal-950 */
  min-height: 100vh;
}
